<IfModule mod_rewrite.c>
    # Ativa o módulo de reescrita de URLs
    RewriteEngine On

    # Opções de diretivas
    Options All -Indexes

    # Redirecionar para WWW
    # Verifica se o host não começa com "www."
    # RewriteCond %{HTTP_HOST} !^www\. [NC]
    # Redireciona para o host com "www."
    # RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirecionar para HTTPS
    # Verifica se a conexão não está usando HTTPS
    RewriteCond %{HTTPS} !=on
    # Redireciona para a mesma URL com HTTPS
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Diretivas adicionais do mod_rewrite
    # Verifica se o arquivo não existe
    RewriteCond %{REQUEST_FILENAME} !-f
    # Verifica se o diretório não existe
    RewriteCond %{REQUEST_FILENAME} !-d
    # Encaminha a requisição para index.php com os parâmetros da URL
    RewriteRule ^ index.php [QSA,L]
</IfModule>